*.exe
*.dll
*.manifest
*.pyc
*.pyo
*.dat
!filterdb.dat
*.gz
*.zip
*.rar
*.7z
*.bak
*.bat
*.sh
*.diff
*.patch
src/*
lib/*
tools/*
!tools/*.py
!tools/*.presets
macros/test.py
AvsPmod/
tempfilterout.txt
_last_session_.ses
__translation_new.py