/*
:Authors: Ian Bicking, Michael Foord
:Contact: fuzzyman@voidspace.org.uk
:Date: 2006/04/01 
:Version: 0.2.0
:Copyright: This stylesheet has been placed in the public domain.

Stylesheet for Docutils.
Based on ``blue_box.css`` by Ian Bicking
and ``default.css`` revision 3442
Optimised for rest2web - http://www.voidspace.org.uk/python/rest2web/
*/

@import url(default.css);

em, i {
  /* Typically serif fonts have much nicer italics */
  font-family: Times New Roman, Times, serif;
}


a.target {
  color: blue;
}

a.toc-backref {
  text-decoration: none;
  color: black;
}

a.toc-backref:hover {
  background-color: inherit;
}

a:hover {
  background-color: #cccccc;
}

div.attention, div.caution, div.danger, div.error, div.hint,
div.important, div.note, div.tip, div.warning {
  background-color: #cccccc;
  padding: 3px;
  width: 80%;
}

div.admonition p.admonition-title, div.hint p.admonition-title,
div.important p.admonition-title, div.note p.admonition-title,
div.tip p.admonition-title  {
  text-align: center;
  background-color: #999999;
  display: block;
  margin: 0;
}

div.attention p.admonition-title, div.caution p.admonition-title,
div.danger p.admonition-title, div.error p.admonition-title,
div.warning p.admonition-title {
  color: #cc0000;
  font-family: sans-serif;
  text-align: center;
  background-color: #999999;
  display: block;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
  
  /*border: thin solid black;*/
  
  /* This makes the borders rounded on Mozilla, which pleases me */
  /*-moz-border-radius: 8px;*/
  padding: 4px;
  /* Padding used to be 4px, changed by Justin */
}

h1 {
  border: solid 1px rgb(175,175,175);
  border-left: solid 0.5em rgb(175,175,175);
  background-color: rgb(220,220,220);
  text-decoration: none;
  color: rgb(50,50,50);
  margin-top: 1em;
}

h1 a.toc-backref {
  color: #444444;
}


h2{
  background-color: #ffffff;
  color: #ffffff;
  border-bottom:dashed 1px #6699bb;
}

h3, h4, h5, h6 {
  background-color: #ffffff;
  color: #ffffff;
  border-bottom:solid 1px #cccccc;
}

h2 a.toc-backref, h3 a.toc-backref, h4 a.toc-backref, h5 a.toc-backref, 
h6 a.toc-backref { 
  color: #555555;
}

h1.title {
  text-align: center;
  background-color: #444499;
  color: #eeeeee;
  /*border: medium solid black;*/
  border: solid 3px black;
  border-left: solid 0.5em black;
  border-right: solid 0.5em black;
  /*-moz-border-radius: 20px;*/
  margin-top: 0em;
}

table.footnote {
  padding-left: 0.5ex;
}

table.citation {
  padding-left: 0.5ex
}

pre.literal-block, pre.doctest-block {
  border: thin black solid;
  padding: 5px;
  font-family: sans-serif;
}

.image {
    border-style : solid;
    border-width : 2px;
}

img.align-center {
    display: block;
    margin: auto; 
    text-align: center;
    margin: 10px;
}

h1 tt, h2 tt, h3 tt, h4 tt, h5 tt, h6 tt {
  font-size: 100%;
}

code, tt {
  color: #000066;
}
